.rendu{
  color: green;
}
.nonRendu{
  color: red;
}
.container{
  display: flex;
  flex-direction: column;
}
.ajouterBtn {
  align-self: flex-end;
}
.mat-table {
  overflow: hidden !important;
  width: 100%;
  border-radius:20px;
}
.mat-spinner {
  margin: 0 auto;
}
tr.detail-row {
  height: 0;
  background-color:#f5f5f5;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
  cursor: pointer;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-detail-content {
  padding: 20px 0px;
  flex-direction: column;
  justify-content: center;
}