<div>
  <a routerLink="/add/assignment">
    <button  mat-flat-button color="accent">
      Ajouter un devoir
    </button>
  </a>
  <a routerLink="/add/subject">
    <button [ngStyle]="{'margin-left': '10px'}" mat-flat-button color="accent">
      Ajouter une matière
    </button>
  </a>
</div>
<mat-spinner *ngIf="!finishedFetching"></mat-spinner>
<div class="mat-elevation-z3 table-container">
  <div class="table-header">
    <h1 class="table-title">Liste des devoirs</h1>
    <div class="filters-container">
      <mat-form-field>
        <input matInput [(ngModel)]="nameFilter" (input)="nameFilterChanged()" placeholder="Rechercher un devoir">
        <button *ngIf="nameFilter" matSuffix mat-icon-button aria-label="Clear" (click)="nameFilter=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <div>
        <span class="non-rendu-toggle-text">Afficher les devoirs rendus</span><mat-slide-toggle (change)="toggleRendu()"></mat-slide-toggle>
      </div>
    </div>
      
    </div>
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSort($event)" multiTemplateDataRows >
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
      <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>
    <ng-container matColumnDef="dateRendu">
      <th mat-header-cell *matHeaderCellDef mat-sort-header (matSortChange)="onSort($event)"> Date de rendu </th>
      <td mat-cell *matCellDef="let element"> {{displayDate(element.dateRendu)}} </td>
    </ng-container>
    <ng-container matColumnDef="rendu">
      <th mat-header-cell *matHeaderCellDef> Rendu </th>
      <td mat-cell *matCellDef="let element"> 
        <mat-icon *ngIf="element.rendu; else notSent" [ngStyle]="{'color': 'green'}" fontIcon="check_circle_outline"></mat-icon> 
        <ng-template #notSent>
          <mat-icon [ngStyle]="{'color': 'red'}"  fontIcon="highlight_off"></mat-icon>
        </ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
          <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
        <div class="element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
             <div class="element-detail-content">
              <div>
                <p class="element-detail-value">
                  Le devoir {{element.nom}} prévu pour le {{displayDate(element.dateRendu)}} {{element.rendu ? 'a été rendu' : "n'a pas été rendu"}}.
                </p>
                <h2>{{expandedSubjectName}}</h2>
                <img src="{{expandedSubjectPreview}}" alt="">
                <h2 *ngIf="element.grade">Note : {{element.grade}}/20</h2>
                <div *ngIf="element.comment">
                  <h2>Remarque :</h2>
                  <p class="comment">{{element.comment}}</p>
                </div>
              </div>
              <button mat-raised-button color="primary" routerLink="/assignment/{{element._id}}/edit">Modifier</button>
              <button mat-raised-button color="warn" [ngStyle]="{'margin-left': '10px'}" (click)="openDeleteDialog(element)">Supprimer</button>
             </div>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
        class="element-row"
        [class.expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element; getSubject(element.subject)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>
  <div class="table-footer">
    
    <mat-paginator [length]="totalDocs"
    [pageSize]="limit"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
    (page)="paginatorChanged($event)">
    >
</mat-paginator>
  </div>
 
</div>

