.form-add-subject{
  display: flex;
  flex-direction: column;
  width: 40%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 10%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}
img{
  max-height:500px;
  max-width:500px;
  margin: 4%;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}